.about-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 150px 0;

    .h1 {
        font-weight: 400;
        font-style: Regular;
        font-size: 54px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
    }
}

.about-banner-section {
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 720px) {
    .about-banner {
        .h1 {
            font-size: 32px;
        }
    }
    
    .about-banner-section {
        min-height: 460px;
    }
    
}