.equipment-detail-banner {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.equipment-detail-banner-left {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .h1 {
        font-weight: 400;
        font-style: Regular;
        font-size: 48px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
    }

    .default {
        margin: 0;
        width: 100%;
        max-width: 585px;
    }

    .button {
        min-height: 50px;
        max-width: 185px;
    }
}

.equipment-detail-banner-right {
    height: auto;
    min-height: 461px;
    width: 100%;
    max-width: 526px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

@media (max-width: 970px) {
    .equipment-detail-banner {
        flex-direction: column;
    }

    .equipment-detail-banner-right,
    .equipment-detail-banner-left .default {
        max-width: none;
    }
}

@media (max-width: 720px) {
    .equipment-detail-banner {
        padding: 0 0 60px;
    }

    .equipment-detail-banner-left {
        .h1 {
            font-size: 32px;
        }
    }

    .equipment-detail-banner-right {
        min-height: auto;
        aspect-ratio: 343/300;
    }
}