.equipment-detail-description {
    padding: 0 0 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.equipment-detail-description-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 12px 24px;

    .h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 55px;
        letter-spacing: 0px;
        text-transform: uppercase;
    }

    svg {
        max-width: 48px;
        max-height: 48px;
        min-height: 48px;
        min-width: 48px;
    }

    &.active {
        svg {
            transform: rotate(315deg) !important;
        }
    }
}

.equipment-detail-description-item {
    border-radius: 10px;
    border: 0.5px solid #979085;
}

.equipment-detail-description-content {
    padding: 0 24px 0;

    &.active {
        padding: 0 24px 24px;
    }

    .default {
        margin: 0;
        background-color: #FFFFFF80;
        border-radius: 10px;
        padding: 24px;
    }
}

@media (max-width: 720px) {
    .equipment-detail-description-section {
        padding: 0;
    }

    .equipment-detail-description {
        padding: 0;
        gap: 0;
    }
    
    .equipment-detail-description-title {
        gap: 20px;
        padding: 12px 16px;
    
        svg {
            max-width: 32px;
            max-height: 32px;
            min-height: 32px;
            min-width: 32px;
        }
    }
    
    .equipment-detail-description-item {
        border-radius: 0px;
        border-bottom: none;

        &:first-child {
            border-radius: 10px 10px 0 0;
        }

        &:last-child {
            border-radius: 0 0 10px 10px;
            border-bottom: 0.5px solid #979085;
        }
    }
    
    .equipment-detail-description-content {
        padding: 0 16px 0;
    
        &.active {
            padding: 0 16px 16px;
        }
    
        .default {
            padding: 16px;
        }
    }
}