.main-equipment {
    padding: 0 0 100px;

    .button {
        background: none;
        border: 1px solid #C4C5BF;
        min-height: 50px;

        &:hover {
            background-color: #00D0BA;
            color: #FFF;
            border: 1px solid #00D0BA;
        }
    }

    .h2 {
        margin-bottom: 32px;
        text-align: center;
    }
}

.main-equipment-section {
    overflow: hidden;
}

.main-equipment-subtitle {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
}

.main-equipment-item {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;

    img {
        object-fit: contain;
        object-position: center;
        aspect-ratio: 416/442;
    }

    &:hover {
        .h3 {
            color: var(--link-color);
        }
    }

    .h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
        padding: 0 24px;
        margin-bottom: 24px;
    }

    .default {
        margin: 0;
        margin-bottom: 24px;
        padding: 0 24px;
        font-size: 16px;
    }

    .link {
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: auto;
        margin-bottom: 24px;
        padding: 0 24px;
        color: var(--link-color);
    }
}

@media (max-width: 720px) {
    .main-equipment-item {
        width: 100%;
        max-width: 300px;
    }

    .sw-cont_equipment {
        padding-bottom: 32px;

        .swiper-scrollbar {

            &.swiper-scrollbar-horizontal {
                background: none;
            }
        }
    }

    .main-equipment-subtitle {
        padding: 0 var(--def-padding);
    }

    .mainEquipmentSwiper {
        padding: 0 var(--def-padding);
    }

    .main-equipment {
        padding: 50px 0;

        .h2 {
            padding: 0 var(--def-padding);
        }
    }

    .main-equipment-section {
        padding: 0;
    }
}

@media (max-width: 500px) {

    .main-equipment {
        .h2 {
            margin-bottom: 32px;
        }
    }

    .main-equipment-subtitle {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .main-equipment-item {
        img {
            object-fit: contain;
            object-position: center;
            aspect-ratio: 300/442;
        }
        .h3 {
            padding: 0 16px;
            margin-bottom: 16px;
        }

        .default {
            margin-bottom: 24px;
            padding: 0 16px;
            font-size: 14px;
        }

        .link {
            padding: 0 16px;
        }
    }

}