.main-services {
    padding: 100px 0;

    .h2 {
        font-weight: 400;
        font-style: Regular;
        font-size: 54px;
        leading-trim: NONE;
        line-height: 72px;
        letter-spacing: 0px;
        margin-bottom: 32px;
    }
}

.main-services-section {
    overflow: hidden;

    .swiper-scrollbar {
        display: none;
    }

    .button {
        border: 1px solid #C4C5BF;
        background: none;
    }
}

.mainServicesSwiper {
    width: 100%;
}

.main-services-item {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    min-height: 485px;
    max-width: 312px;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 312/339;
        margin-bottom: 24px;
    }

    *:not(img) {
        padding: 0 16px;
    }

    .h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
        margin-bottom: 20px;
    }

    .link {
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: auto;
        margin-bottom: 24px;
        color: var(--link-color);
    }
}

@media (max-width: 1550px) {
    .main-services-section {
        .sw-btn {
            display: none;
        }
    }
}

@media (max-width: 1330px) {
    .main-services-section {
        padding: 0;
    }

    .main-services {
        .h2 {
            padding: 0 var(--def-padding);
        }
    }

    .mainServicesSwiper {
        padding: 0 var(--def-padding);
    }
}

@media (max-width: 720px) {
    .main-services {
        padding: 50px 0;

        .h2 {
            font-size: 32px;
            line-height: 44px;
        }
    }
}

@media (max-width: 500px) {
    .main-services-section {
        .swiper-scrollbar {
            display: block;
        }

        .swiper-horizontal>.swiper-scrollbar,
        .swiper-scrollbar.swiper-scrollbar-horizontal {
            background: none;
        }

        .sw_cont_services {
            padding-bottom: 32px;
        }
    }


    .main-services-item {
        max-width: 300px;
    }
}