.main-blog {
    padding: 100px 0 0;

    .h2 {
        margin-bottom: 32px;
        text-align: center;
    }
}

.main-blog-section {
    overflow: hidden;
}

.mainBlogSwiper {
    width: 100%;
}

.main-blog-item {
    display: flex;
    flex-direction: column;
    height: auto;

    img {
        aspect-ratio: 416/444;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 24px;
    }
}

.main-blog-item-date {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #979085;

    margin-bottom: 16px;
}

.main-blog-item-title {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 26px;
}

.main-blog-item-link {
    font-weight: 500;
    font-style: Medium;
    font-size: 13px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--link-color);
    text-decoration: underline !important;
    margin-top: auto;
}

@media (max-width: 720px) {
    .main-blog {
        margin-bottom: 60px;
        margin-top: 0;
    }

    .main-blog-item {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .main-blog-item-date {
        font-size: 12px;
    }

    .main-blog-item-title {
        font-size: 18px;
        margin-bottom: 38px;
    }

    .main-blog-item-link {
        font-size: 13px;
    }
}