.main-procedure {
    .h2 {
        margin-bottom: 32px;
        text-align: center;
    }
}

.main-procedure-container {
    display: flex;
    min-height: 436px;
    border: 1px solid #979085;
    border-radius: 10px;
    overflow: hidden;
}

.main-procedure-cont-left {
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 745px;

    .h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
}

.main-procedure-cont-left-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.main-procedure-cont-left-flex-item {
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #C4C5BF;
    border-radius: 100px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    width: fit-content;
    min-height: 44px;

    &:hover {
        background-color: #979085;
        color: #FFFFFF;
        border-color: #979085;
    }
}

.main-procedure-cont-right {
    width: 100%;
    max-width: 527px;
    height: auto;

}

.main-procedure-cont-right-item-img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 24px;

    .button {
        outline: 8px solid #14B8A64D;
        min-height: 60px;
        font-size: 18px;

        &:hover {
            color: #FFF;
        }
    }
}


@media (max-width: 970px) {
    .main-procedure-container {
        flex-direction: column;
    }

    .main-procedure-cont-left,
    .main-procedure-cont-right {
        max-width: 100%;
    }

    .main-procedure-cont-right {
        aspect-ratio: 2/1;
    }
}

@media (max-width: 500px) {

    .main-procedure-section {
        padding: 50px 0 50px;
    }

    .main-procedure-cont-left {
        padding: 32px 16px 24px;

        .h3 {
            font-size: 24px;
        }
    }

    .main-procedure-cont-right {
        aspect-ratio: 375/436;
    }
}