.popupForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    width: 100%;
    max-width: max-content;
}

.popupForm .popup__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: auto;
    position: relative;
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    max-width: 636px;
    padding: 40px;
    max-height: 85vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #e0ded7 #f8f5ee;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background: #f8f5ee;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #e0ded7;
        border-radius: 8px;
        
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #d6d2c7;
    }

    .popupForm-title {
        font-weight: 500;
        font-style: Medium;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 130%;
        letter-spacing: 0%;
        margin-bottom: 44px;
    }

    .inputs_cont {
        display: flex;
        gap: 10px;
        margin-bottom: 24px;

        input {
            border: 1px solid #BBCDE7;
            border-radius: 8px;
            height: 48px;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            padding: 0 16px;
            width: 100%;
        }

        textarea {
            border: 1px solid #BBCDE7;
            border-radius: 8px;
            height: 120px;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            leading-trim: NONE;
            padding: 16px;
            max-height: 96px;
            resize: none;
        }

        .input_cont {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
        }

        .input_cont-name {
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            color: #50576B;
        }

        .err {
            input {
                border: 1px solid #EE4443;
            }

            input::placeholder {
                color: #EE4443;
            }
        }
    }

    .file_cont {
        border: 1px dashed #25B99F;
        border-radius: 8px;
        padding: 25px;
        background: #25B99F0D;
        cursor: pointer;


        .file_cont-name {
            display: flex;
            align-items: center;
            gap: 16px;

            p {
                font-weight: 400;
                font-style: Regular;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 20px;
                letter-spacing: 0%;
                color: #4B5563;

                * {
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 20px;
                    letter-spacing: 0%;
                }

                span {
                    color: #25B99F;
                }
            }
        }

    }

    span,
    span a {
        font-size: 12px;
        font-weight: 400;
        line-height: 120%;
        text-align: left;
    }

    span a {
        text-decoration: underline;
    }

    span {
        margin-bottom: 10px;
    }

    .button {
        max-width: 159px;
        height: 50px;
        color: #FFF;
    }

}


.popupForm .popup__container .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.popupForm .popup__container .close-btn:hover path {
    opacity: 0.5;
}

.popupForm.open {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

@media (max-width: 500px) {
    .popupForm .popup__container {
        border-radius: 16px;
        padding: 24px 16px;
        max-height: 90vh;
    
        .popupForm-title {
            font-size: 24px;
            margin-bottom: 36px;
        }
    
        .inputs_cont {
            gap: 12px;
            margin-bottom: 16px;
        }
    
        .file_cont {
            padding: 16px;
    
            .file_cont-name {
                display: flex;
                align-items: center;
                gap: 16px;
            }
    
        }
    }

    .popupForm .popup__container .inputs_cont {
        flex-direction: column;
    }
}