.price-info {
    margin-bottom: 30px;
    background-color: #E9FFFD;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        color: var(--link-color);
        text-decoration: underline;
    }
}

@media (max-width: 720px) {
    .price-info {
        margin-bottom: 32px;
        padding: 24px 16px;
        text-align: center;
        align-items: center;

        * {
            text-align: center;
        }
    }
}