.price-bottom-text {
    margin-bottom: 100px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    * {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: 0%;
    }
}
@media (max-width: 720px) {
    .price-bottom-text {
        margin-bottom: 60px;
    }
}