.price-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 19.5px 24px;
    border-radius: 10px;
    background-color: #FFF;
    margin-bottom: 30px;

    input {
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0px;
        width: 100%;

        &::placeholder {
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0px;
            color: #4C5651;
        }
    }

    button {
        max-width: 24px;
        max-height: 24px;
        min-height: 24px;
        min-width: 24px;
    }

    svg {
        max-width: 24px;
        max-height: 24px;
        min-height: 24px;
        min-width: 24px;
    }
}

@media (max-width: 720px) {
    .price-search {
        margin-bottom: 0;
    }
}