.service-list {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.service-list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    height: auto;

}

.service-list-item-img {
    aspect-ratio: 630/443;
    width: 100%;
    height: fit-content;
    background-color: #F0E3D5;

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.service-list-item-cont {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .default {
        margin: 0;
        font-size: 16px;

        * {
            font-size: 16px;
        }
    }
}

.service-list-item-title {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.service-list-item-link {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--link-color);
    text-decoration: underline !important;
}

@media (max-width: 720px) {
    .service-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-list-section {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .service-list {
        padding-bottom: 60px;
        gap: 16px;
    }
    
    .service-list-item {
        gap: 20px;
    }
    
    .service-list-item-img {
        aspect-ratio: 375/264;
        width: 100%;
    }
    
    .service-list-item-cont {
        .default {
            font-size: 14px;
    
            * {
                font-size: 14px;
            }
        }
    }
    
    .service-list-item-title {
        font-size: 18px;
    }
}