.service-detail-how {
    padding: 100px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.how-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 259px;

    span {
        font-weight: 400;
        font-style: Regular;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0px;
        white-space: nowrap;
    }

    .default {
        margin: 0;
    }
}

@media (max-width: 720px) {
    .service-detail-how {
        padding: 60px 0;
        gap: 32px;

        .h2 {
            padding: 0 var(--def-padding);
        }
    }

    .service-detail-how-section {
        padding: 0;
    }

    .how-swiper {
        padding: 0 var(--def-padding);
    }

    .sw_cont_how {
        padding-bottom: 32px;
    }
}