.stocks-list {
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .main-doctor-item {
        max-width: none;
    }
}

.stocks-list-item {
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 416px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    * {
        transition: .5s;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #33333366;
        transition: .5s;
        z-index: 0;
    }

    &:hover {

        &::before {
            background-color: #33333399;
        }
    }

    * {
        color: #FFF;
    }
}

.stocks-list-item-cont {
    position: relative;
    z-index: 1;
}

.stocks-list-item-sticker {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 3px 8px;
    background-color: var(--link-color);
    border-radius: 8px;
    margin-bottom: 16px;
    white-space: nowrap;
}

.stocks-list-item-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 38px;
    letter-spacing: 0px;
    margin-bottom: 24px;
}

.stocks-list-item-description {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 38px;
    letter-spacing: 0px;

    span {
        font-weight: 300;
        font-style: Regular;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 38px;
        letter-spacing: 0px;
        text-decoration: line-through;
    }
}

@media (max-width: 1200px) {
    .stocks-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .stocks-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .stocks-list {
        gap: 16px;
    }
    
    .stocks-list-item {
        padding: 16px;
        min-height: 343px;
    }
    
    .stocks-list-item-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    
    .stocks-list-item-description {
        font-size: 24px;
        line-height: 32px;
    
        span {
            font-size: 24px;
            line-height: 32px;
        }
    }
}