@font-face {
    font-family: 'Vela Sans';
    src: url('VelaSans-Light.woff2') format('woff2'),
        url('VelaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('VelaSans-Regular.woff2') format('woff2'),
        url('VelaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('VelaSans-Medium.woff2') format('woff2'),
        url('VelaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('VelaSans-SemiBold.woff2') format('woff2'),
        url('VelaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('VelaSans-Bold.woff2') format('woff2'),
        url('VelaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}